/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .sechombf {
    height: 900px;
  }

}


@media only screen and (max-width:1024px) {
  button.navbar-toggler {
    border: 1px solid #fff;
}
.offcanvas-header {
    background: #000;
}
div#navbarOffcanvas{
  background-color: #012120;
}
}

@media only screen and (max-width:999px) {

}


@media only screen and (max-width:768px) {
 .secnumerbg {
    display: flex;
    flex-direction: column;
}
.secuvbg {
           display: flex;
        padding-top: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
}
.wrapper {
    width: 399px;
    height: 325px;
    position: relative;
    overflow: hidden;
    margin-left: 0px;
}
.secmardbag {
    margin-top: 0px;
}
.juxtapose.juxtapose-0 {
    height: 305px !important;
    width: 350px !important;
}
.juxtapose.juxtapose-0 {
    margin-left: 0px;
}
.secherologobg {
    display: none;
}
.secmainlogo{
  display: block;
  width: 80%;   
  padding: 0;
}
.haderherobg {
    padding: 0px;
}
img.img-fluid.seclogow {
    width: 50%;
}
.container-fluid.p-0.secherbg {
    margin-top: -2px;
    margin-bottom: -2px;
}
.secmustbg {
    padding: 0px 10px 40px 10px;
}
.secmustext {
    font-family: 'Anek Bangla';
    font-size: 25px;
}
button.navbar-toggler {
    border: 1px solid #fff;
    margin-top: 11px;
}
.offcanvas-header {
    background: #000;
}
div#navbarOffcanvas{
  background-color: #012120;
}
.navbar-nav {
    margin: 0px;
}
.offcanvas{
    --bs-offcanvas-width: 285px !important;
 }
 .headermenusec {
    font-size: 16px;
    padding-right: 0px !important;
}
br {
    display: none;
}
.sectitserv h3 {
    font-size: 25px;
}
.secnutit {
    padding-bottom: 20px;
}
.sectec2head {
    font-size: 17px;
}
.secnutit h4 {
    font-size: 33px;
}
#accordionExample {
    width: 100%;
}
.secdis{
    display: flex;
}
.secmardbag{
    width: 50%;
}
.secnov{
    display: none;
}
.seclqldd{
    text-align: end !important;
}
.secins{
    margin-bottom: 20px;
}
}

@media only screen and (max-width:430px) {
 
}

@media only screen and (max-width:380px) {
 
}


@media only screen and (max-width:320px) {
 
}