/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .sechombf {
    height: 900px;
  }

}


@media only screen and (max-width:1024px) {
  
}

@media only screen and (max-width:999px) {

}


@media only screen and (max-width:768px) {
 .secnumerbg {
    display: flex;
    flex-direction: column;
}
.secuvbg {
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
}
.wrapper {
    width: 399px;
    height: 325px;
    position: relative;
    overflow: hidden;
    margin-left: 0px;
}
.secmardbag {
    margin-top: 0px;
}
.juxtapose.juxtapose-0 {
    height: 305px !important;
    width: 350px !important;
}
.juxtapose.juxtapose-0 {
    margin-left: 0px;
}
}

@media only screen and (max-width:430px) {
 
}

@media only screen and (max-width:380px) {
 
}


@media only screen and (max-width:320px) {
 
}